<h1>Pitches</h1>
<p><span id="votes_left"><%= 3 - current_user.votes.count %></span> vote(s) left</p>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @pitches.each do |pitch| %>
      <tr>
        <td><h2><%= link_to pitch.name, pitch_path(pitch) %></h3></td>
        <td><%= pitch.description.first(100) %></td>
        <td><h3><%= pitch.votes.count %></h3></td>
        <td><button class="btn btn-success .btn-small vote" data-id="<%= pitch.id %>">Vote</button></td>
      </tr>
    <% end %>
  </tbody>
</table>
