<% if logged_in? -%>
<h3><span id="votes_left"><%= 3 - current_user.votes.count %></span> vote(s) left. Please vote!</h3>
<% else-%>
<h3 style="margin-bottom: 10px">You have to be logged in to vote!</h3>
<% end -%>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @pitches.each do |pitch| %>
      <tr>
        <td><h2><%= link_to pitch.name, pitch_path(pitch) %></h2></td>
        <td><%= pitch.description %></td>
        <td>
          <h3 class="votes-count" data-id="<%= pitch.id %>">
            <%- if logged_in? && current_user.has_finished_voting? %>
              <%= pitch.votes.count %>
            <% end -%>
          </h3>
        </td>
        <td>
          <% if logged_in? && (current_user.has_votes_left? or current_user.has_voted_on_pitch?(pitch)) -%>
          <button class="btn <%= current_user.has_voted_on_pitch?(pitch) ? 'btn-inverse' : 'btn-success' %> .btn-small vote" data-id="<%= pitch.id %>">Vote<%= 'd' if current_user.has_voted_on_pitch?(pitch) %></button>
          <% elsif logged_in? -%>
          <span>no more votes</span>
          <% end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
