<!DOCTYPE html>
<html>
<head>
  <title>Pitch&amp;Go</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="span6">
      <p><%= link_to image_tag("logo.png", :id => 'logo', :alt => 'Pitch&Go'), root_path %></p>

      <% if !logged_in? %>
      <p><%= link_to "Login with your Google Account", "/auth/google", :class => "btn btn-primary .btn-large login-button" %></p>
      <% end %>

      <% if flash[:notice] %><div class="alert alert-info"><%= flash[:notice] %></div><% end %>
      <% if flash[:alert] %><div class="alert alert-error"><%= flash[:alert] %></div><% end %>
      <%= yield %>

      <% if logged_in? %>
        <p><span>Logged in as <strong><%= current_user.name %></strong>, <%= link_to "Logout?", "/logout" %></span></p>
      <% end -%>
    </div>
  </div>
</div>
</body>
</html>
