<!DOCTYPE html>
<!--- blah -->
<html>
<head>
  <title>Pitch&Go</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner" style="background: white">
    <div class="container" >
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#"><img src="http://dl.dropbox.com/u/1371128/logo4.png" style="height: 40px; margin-left: -5px;" /></a>
      <div class="nav-collapse" style="margin-top: 15px">
        <ul class="nav">
          <li><%= link_to "" %></li>
          <li><%= link_to "Pitches", root_path %></li>

        </ul>
        <% if logged_in? %>
          <span style="padding: 10px; display: block; float: right;">Logged in as <strong><%= current_user.name %></strong>, <%= link_to "Logout?", "/logout" %></span>
        <% else %>
          <%= link_to "Login with your Google Account", "/auth/google", :class => "btn btn-primary .btn-large login-button" %>
        <% end %>

      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="span6">
      <% if flash[:notice] %><div class="alert alert-info"><%= flash[:notice] %></div><% end %>
      <% if flash[:alert] %><div class="alert alert-error"><%= flash[:alert] %></div><% end %>
      <%= yield %>
    </div>
  </div>
</div>
</body>
</html>
